body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}
p{
    margin: 0;
}
/* ----------------HEADER TECH---------------------*/
.header a{
    text-decoration: none;
}
.header ul{
    list-style-type: none;
    padding: 0;
}
.Header-Logo a{
    font-size: 24px;
    color: #F9FAF8;
}
.header-right-links a{
    font-size: 18px;
    color: #E5E7EB;
}
.header,
.header-left-links,
.header-right-links{
    display: flex;
    align-items: center;
}
.header{
    background-color: #1F2937;
    justify-content: space-around;
}
.header-right-links{
    justify-content: space-between;
    gap: 40px;
}
/*------------------SECTION-ONE TECH----------------------*/
.Hero-Main-Text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.Hero-Secondary-Text{
    font-size: 18px;
    color: #E5E7EB;
}
.section-one,
.garden-image,
.left-elements{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.section-one{
    background-color: #1F2937;
    justify-content: center;
}
.garden-image,
.left-elements{
    max-height: 250px;
}
.garden-image{
    max-width: 480px;
}
.left-elements{
    max-width: 420px;
    margin-right: 60px;
    gap: 10px;
    flex-wrap: wrap;
}
.sign-up-button{
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 900;
    font-size: 18px;
    border: none;
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
}
/*---------------------SECTION-TWO TECH------------------------------*/
.section-two,
.Information-Header-Text,
.information-images-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-two{
    flex-direction: column;
    flex-grow:1;
}
.Information-Header-Text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.information-images-container{
    gap: 50px;
}
.image-one,
.image-two,
.image-three,
.image-four{
    width: 130px;
    height: 130px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}
.image-one-container,
.image-two-container,
.image-three-container,
.image-four-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 130px;
    text-align: center;
}
/*-----------------------SECTION-THREE TECH------------------------*/
.section-three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.quote,
.author{
    display: flex;
    width: 750px;
    color: #1F2937;
}
.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    flex-wrap: wrap;
}
.author{
    font-size: 23px;
    font-weight: 900;
    justify-content: flex-end;
}
/*------------------------SECTION-FOUR TECH----------------------*/
.section-four,
.call-to-action-container,
.call-to-action-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-four{
    flex-grow: 1;
}
.call-to-action-container{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    width: 1000px;
    height: 120px;
    gap: 125px;
}
.call-to-action-text{
    display: flex;
    flex-direction: column;
}
.call-to-action-button{
    font-size: 15px;
    font-weight: 900;
    color: #E5E7EB;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.first-line{
    font-size: 25px;
    font-weight: 900;
}
.second-line{
    font-size: 20px;
}
/*---------------------FOOTER TECH---------------*/
.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100px;
}
